<!DOCTYPE html>
<html>
	<head>
		<title>CodeGame</title>
	</head>

	<body>
		<script src="/socket.io/socket.io.js"></script>
	 	<script src="/js/bundle.js"></script>
	 
	 	<div id="root"><%- markup -%></div>
	</body>
	
</html>